:root {
  --white: #f2f7f2;
  --black: #111827;
  --blue: #5f7fff;
  --dark-blue: #163865;
  --yellow: #fdde46;
  --background-color: #f2f7f2;
  --text-color: #111827;
  --primary-color: #163865;
}

.dark-mode {
  --background-color: #051427;
  --text-color: #ffffff;
  --primary-color: var(--blue);
}

*::selection {
  background: var(--blue);
  color: var(--yellow);
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins';
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.23s ease, color 0.25s ease;
}

main {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

p:not(:first-of-type) {
  margin-block: 5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-block: 0;
  padding: 0;
}

a,
button {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--yellow);
}

ul,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  margin-block: 2rem 1rem;
  padding-inline: 1.5rem;
}

section h2 {
  color: var(--text-color);
  margin-block: 1rem;
  font-size: 3rem;
  line-height: 4rem;
}

#projects {
  position: relative;
  margin-block-start: 2rem;
  scroll-margin-top: 6rem;
}

.title-underline {
  position: absolute;
  z-index: -1;
  bottom: 0.5rem;
  left: 3rem;
  background-color: var(--primary-color);
  height: 1.5rem;
  width: 250px;
  filter: opacity(0.8);
}

header {
  position: sticky;
  top: 0;
  z-index: 9;

  .menu-highlight {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0rem;
    background-color: var(--primary-color);
    transition: 0.4s all;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 950px;
    margin: 0 auto;
    padding-block: 0.6rem 1rem;
    padding-inline: 1.5rem;

    menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        transition: 0.25s color;
      }

      li {
        font-weight: 600;
      }

      .contact-scroll {
        color: var(--background-color);
      }

      .contact-scroll:hover {
        color: var(--primary-color);
        background-color: var(--background-color);
      }
    }
  }

  /* Mobile Menu */

  .mobile-menu {
    flex-direction: column;

    li {
      font-size: 0.8rem;
    }

    menu {
      gap: 1rem;
    }
  }
}

.link-color {
  color: var(--background-color);
}

.link-color:hover {
  color: var(--yellow);
}

.contact-btn {
  margin: 0;
  padding-block: 0.2rem;
  padding-inline: 0.8rem;
  border: none;
  font-family: 'Poppins';
  font-weight: 600;
  background-color: transparent;
  border: 0.2rem solid var(--primary-color);
  border-radius: 2rem;
  transition: 0.25s background-color;
  cursor: pointer;
}

.contact-btn:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

.show-cv {
  padding-inline: 1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  transition: 0.25s all;
}

.show-cv:hover {
  background-color: var(--yellow);
}

main {
  section#hero {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem 0;

    .hero-title {
      span,
      h1 {
        font-size: 2.2rem;
        font-weight: 400;
      }

      h1 {
        display: inline;
        font-weight: 600;
      }

      h2 {
        color: var(--primary-color);
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
      }
    }

    .hero-img {
      margin: 0 auto;
      width: 60%;
      min-width: 200px;
      object-fit: contain;
      padding-block: 1rem;
      filter: drop-shadow(0.2rem 0.2rem 0.2rem var(--blue));
    }
  }

  .socials {
    margin-block: 2rem 1rem;
    padding-inline: 0;

    ul {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      li > a {
        transition: 0.25s all;
      }

      li > a:hover {
        background-color: var(--primary-color);
      }

      li > a:hover > img {
        filter: brightness(100);
      }

      li > a:hover > span {
        color: var(--background-color);
      }

      li > a {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        border: 4px solid var(--primary-color);
        padding-block: 0.3rem;
        padding-inline: 0.5rem;
        border-radius: 2rem;

        i {
          font-size: 1.3rem;
        }

        span {
          font-weight: 600;
          color: var(--primary-color);
        }
      }
    }
  }
}

/* Dark mode toggle */

button#theme-toggle {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.theme-switch input[type='checkbox'] {
  display: none;
}

.theme-switch .slider {
  width: 50px;
  height: 30px;
  background-color: var(--primary-color);
  border: solid 0.2rem var(--background-color);
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  transition: background-color 0.4s ease;
}

.sun-icon,
.moon-icon {
  font-size: 20px;
  color: var(--white);
  transition: opacity 0.4s ease;
}

.slider::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 1.3em;
  height: 1.3rem;
  background-color: var(--white);
  border-radius: 50%;
  transition: transform 0.4s ease;
}

input[type='checkbox']:checked + .slider::before {
  transform: translateX(30px);
}

input[type='checkbox']:checked ~ .slider .sun-icon {
  opacity: 0;
}

input[type='checkbox']:checked ~ .slider .moon-icon {
  opacity: 1;
}

.moon-icon {
  opacity: 0;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-color);
  padding-block: 1.2rem;
  padding-inline: 1.2rem;
  border-radius: 0.4rem;
  width: 80%;
  max-width: 450px;
}

.close-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-block-start: 0.6rem;
}

form input,
form textarea {
  margin-block: 0.5rem;
  padding-block: 0.6rem;
  padding-inline: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

form button {
  margin-block: 1rem 0.5rem;
  margin-inline: auto;
  padding-block: 0.8rem;
  width: 250px;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s background-color;
}

form button:hover {
  background-color: #0056b3;
}

/* Projects */
.project-card {
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 5px var(--primary-color);
  max-width: 1000px;
  margin-block: 2rem 3rem;
  transition: 0.25s box-shadow;

  h2,
  p {
    color: var(--dark-blue);
  }

  a {
    display: flex;
    gap: 2rem;
    background-color: #fff;
    height: 100%;

    .p-thumbnail {
      padding-block: 1rem;
      padding-inline: 1rem;
      height: 200px;
      filter: drop-shadow(0 0 0.1rem var(--black));
    }

    img {
      width: 30%;
      object-fit: contain;
    }

    div {
      margin-inline-end: 2rem;
    }

    h2 {
      font-size: 2rem;
      margin-block: 0.5rem;
    }

    .tag-list {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;

      li {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 0.9rem;
        padding-block: 0.3rem;
        padding-inline: 0.8rem;
        color: var(--white);
        border-radius: 4rem;
        background-color: var(--primary-color);

        img {
          width: 1.25rem;
          border-radius: 100%;
        }
      }
    }
  }
}

.project-card:hover {
  box-shadow: 0 0 5px 5px var(--yellow);
}

/* Sobre Mí */
#about {
  margin-block-end: 4rem;

  article {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .portrait-img {
      margin-block: 2rem;
      border-radius: 100%;
      border: 0.5rem solid var(--primary-color);
      object-fit: cover;
      width: 200px;
      height: 200px;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  max-width: 50ch;
}

.footer-content h3 {
  margin: 0;
  font-size: 24px;
}

.footer-content p {
  font-size: 16px;
  margin: 10px 0;
}

.footer-content .socials {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-content .socials li {
  margin: 0 15px;
}

.footer-content .socials a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-content .socials a:hover {
  color: var(--yellow);
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
}

.back-to-top {
  display: inline-block;
  margin-top: 15px;
  color: var(--yellow);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.back-to-top:hover {
  color: #051427;
}

@media (width < 1000px) {
  #about {
    article {
      flex-direction: column;
      gap: 0;

      .portrait-img {
        margin-block: 0;
      }

      div h2 {
        line-height: 2rem;
        max-width: 32ch;
      }
    }
  }
}

@media (width < 650px) {
  section {
    margin-block: 1rem 0;
    padding-inline: 1rem;
    h2 {
      font-size: 2.5rem;
    }
  }

  main section#hero {
    display: flex;
    flex-direction: column;
  }

  #projects {
    margin-block: 0;
  }

  .project-card a {
    flex-direction: column;
    gap: 0;

    .p-thumbnail {
      width: 40%;
      height: 100%;
      padding-inline-start: 2rem;
    }

    div {
      padding-inline-start: 2rem;

      h2 {
        margin-block: 0 0.5rem;
        line-height: 2.5rem;
      }

      p {
        font-size: 0.9rem;
      }

      .tag-list li {
        font-size: 0.8rem;
      }
    }
  }
}

@media (width < 450px) {
  main {
    padding-inline: 1.5rem;
  }

  section {
    margin-block: 0;
    padding-inline: 0;
  }

  main section#hero {
    .socials {
      margin-block: 1rem 0.7rem;

      ul {
        gap: 0.5rem;
      }

      li {
        font-size: 0.8rem;
      }
    }

    img {
      margin-block-start: 1rem;
      min-width: 150px;
    }
  }

  main section#hero .tag-list li {
    font-size: 0.6rem;
  }

  #projects {
    h2 {
      margin-block: 0 1rem;
    }

    .project-card a {
      div {
        padding-inline: 1rem;
        margin-inline: 0;
      }

      .p-thumbnail {
        padding-inline-start: 1.3rem;
      }
    }
  }

  #about {
    article {
      p {
        font-size: 0.9rem;
      }
    }
  }
}
